<div class="work">
    <section><h1><u>Work</u></h1></section>
    <div>
       <div>
        <div class="headerWork">
            <p>Forma parte de mí <b>timeline</b> y de mi crecimiento Profesional. </p><a href="">Contacto</a>
        </div>
        <div class="contenedorWork">
          <section class="timeline">
            <ol>
              <li>
                <div>
                    <section>
                        <img src="../../../assets/cibertec.png">
                    </section> 
                  <p><b>Cibertec</b></p>
                  <p>Computación e Informática</p>
                  <span><b>12/03/2017 - 30/12/2019</b></span>
                </div>
              </li>
              <li>
                <div>
                  <section>
                    <img src="../../../assets/ses.png">
                  </section>
                  <p><b>Software Enterprice Service</b></p>
                  <p>Ingeniero de Software</p>
                  <span><b>05/10/2019 - actualidad</b></span>
                </div>
              </li>
              <li></li>
            </ol>
          </section>
        </div>
       </div>
    </div>
</div>
