<div class="work">
    <h1><u>Timeline</u></h1>
    <div>
       <div>
        <p>Forma parte de mí <b>timeline</b> y de mi crecimiento Profesional. </p><a href="">Contacto</a>
        <div class="contenedorWork">
          <section class="timeline">
            <ol>
              <li *ngFor="let x of ObjWork">
                <div>
                    <section>
                        <img src="{{x.imagen}}">
                    </section> 
                  <p><b>{{x.nombre}}</b></p>
                  <p>{{x.estudio}}</p>
                  <span><b>{{x.fechaInicio| date: 'dd/MM/yyyy'}} - {{x.fechaFin   == NULL ? 'Actualmente' : x.fechaFin | date: 'dd/MM/yyyy' }}</b></span>
                </div>
              </li>
              <li></li>
            </ol>
          </section>
        </div>
       </div>
    </div>
</div>