


<div class="col-md-12 divFiltro" >
    <div class="col-md-2 divSelFiltro">
        <div class="form-group">
            <label for="">Estado:</label>
            
        </div>
    </div>
    <div class="col-md-4 divButton">
        <div class="divCenter">
            <!--<button *ngIf="verBotonPreview==false" class="btn btn-dark btnMargin" (click)="openPreview()" title="ver preview"><i class="fas fa-eye"></i></button>
            <button *ngIf="verBotonPreview==true" class="btn btn-dark btnMargin" (click)="closePreview()" title="cerrar preview"><i class="fas fa-eye-slash"></i></button>
            <button [disabled]="verBotonPreview==true" class="btn btn-light btnMargin">Consultar</button>-->
            <button [disabled]="verBotonPreview==true" class="btn btn-primary btnMargin" (click)="openModal(about)">Registrar</button>
        </div>  
    </div>
</div>

<div class="col-md-12 cuerpoTable" >
        <table class="table table-striped" >
          <thead class="tableStyle">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Descripción</th>
              <th class="text-center">foto</th>
              <th class="text-center">estado</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of arrayAbout">
              <th class="text-center">{{x.idAbout}}</th>
              <th class="text-center">{{x.descripcion}}</th>
              <th class="text-center">
                <img src="{{x.foto}}" style="width: 50px;
                height: 50px;
                border: 2px solid #141E30;
                margin: 0 auto;">
              </th>
              <th class="text-center">{{x.estado==1?'Activo':'Eliminado'}}</th>
              <th class="text-center">
                <button *ngIf="x.estado==1" class="btn btn-warning btn-xs btnMargin" title="Actualizar" (click)="actualizarAbout(x,about)"><i class="fas fa-pen-alt"></i></button>
                <button *ngIf="x.estado==1" title="Eliminar" class="btn btn-danger btn-xs btnMargin" (click)="openModalEliminacion(x,eliminar)"><i class="fas fa-trash-alt"></i></button>
                <button *ngIf="x.estado==2" class="btn btn-info btn-xs btnMargin" title="Activar" (click)="openModalActivar(x,activar)"><i class="fas fa-check-square"></i></button>
              </th>
            </tr>
          </tbody>
        </table>
</div>
    
<ng-template #about>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{tittleModal}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="col-md-12">
          <div class="form-group">
              <label for="">Descripción:</label>
              <textarea class="form-control" [(ngModel)]="objAbout.descripcion" placeholder="Ingresar Descripción" aria-label="With textarea"></textarea>
          </div>
          <div class="card-body nullPadding">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>¡Arrastrar imagen!</ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button *ngIf="verBotonRegistrar==true" class="btn btn-success btnMargin" (click)="registrarAbout()"><i class="fas fa-save"></i> Guardar</button>
      <button *ngIf="verBotonActualizar==true" class="btn btn-success btnMargin" (click)="updateAbout()"><i class="fas fa-save"></i> Actualizar</button>
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>
</ng-template>


<ng-template #eliminar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">:: Eliminar ::</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p>¿Esta seguro de Eliminar el siguiente dato: <b>{{nombreDato}}</b>?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary btnMargin" (click)="eliminarAbout()"><i class="fas fa-trash-alt"></i> Aceptar</button>
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>
</ng-template>

<ng-template #activar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">:: Activar ::</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p>¿Esta seguro de activar el siguiente dato: <b>{{nombreDato}}</b>?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary btnMargin" (click)="activarAbout()"><i class="fas fa-trash-alt"></i> Aceptar</button>
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>
</ng-template>