
<div class="contenedor">
    <div>
        <div class="sectionIzquierda">
            <section *ngFor="let x of arrayPrincipal">
                <h1>{{x.nombre}}</h1>
                <p>{{x.descripcion}}👨‍💻</p>
                <ul>
                    <a *ngFor="let z of arrayRedes" [ngStyle]="{'background':z.style}"  [ngClass]="z.clases" href="{{z.ruta}}" title="{{z.titulo}}" target="_blank"></a>
                    <button style="background: #B03A2E;" title="Curriculum Vitae" class="fas fa-file-pdf" id="cv"></button>
                </ul>
            </section>
        </div>
        <div class="sectionDerecha">
            <img src="../../../assets/gamer-jugando-al-ordenador_52683-16140.png">
            <p>Todo comienza con un sueño, lo demás es cuestión de querer hacerlo🙏🏼</p>
        </div>
    </div>
</div>
