
<div class="contenedor">
    <div class="sectionIzquierda">
        <section>
            <h1>Jhordy <br>Vargas</h1>
            <p>Desarrollador Web | Mobile</p>
            <ul>
                <li style="background: #1C2833;color: white;">
                    <a href="https://github.com/JhordySteven" title="Github" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li style="background: #005DAF;color: white;">
                    <a href="https://www.linkedin.com/in/jhordy-steven-vargas-ccora-923573185/" title="Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li style="background: #8a2387; /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;color: white;">
                    <a href="https://www.instagram.com/jhordy.steven/?hl=es-la" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li style="background: #3b5998;color: white;">
                    <a href="https://www.facebook.com/vargas.jhordy/" title="Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
            </ul>
        </section>
    </div>
    <div class="sectionDerecha">
        <img src="../../../assets/marketing-gif-2-1.gif">
    </div>
</div>
