.about{
    width: 100%;
    height: 100vh;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}
.about>h1{
    text-align: center;
    font-family: 'Teko', sans-serif;
    color: white;
    margin: 10px;
}
.izquierdaAbout{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    overflow: hidden;
}
.izquierdaAbout>img{
    margin: auto auto;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    transform: translateX(0);
    box-shadow: 1px 1px 20px -6px black;
}
.izquierdaAbout>img:before{
    content: '';
    position: absolute;
    width: 90%;
    top: 100%;
    left: 5%;
    height: 10px;
    background: radial-gradient(
        center, ellipse,
        rgba(0,0,0,0.30) 0%,
        rgba(0,0,0,0) 100%);
        transition-duration: 0.5s;
        opacity: 0;
}

.izquierdaAbout>img:hover{
    transform: translateY(-10px);
    animation: 1.5s movercaja infinite;	
    cursor: pointer;
}

@keyframes movercaja{
    50%{
        transform: translateY(-5px);
    }
}
.izquierdaAbout>img:hover:before{
    opacity: 0.4;
    transform: translateY(10px);
    opacity: 1;
    animation: 1.5s moversombra infinite;	
}
@keyframes moversombra{
    50%{
        opacity: 1;
        transform: translateY(10px);
    }
}
.derechaAbout{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    overflow: hidden;
}
.derechaAbout>div{
    width: 50%;
    font-family: 'Teko', sans-serif;
    margin: auto auto;
    border: 2px solid #F5B041;
    overflow: hidden;
    padding: 10px;
}
.derechaAbout>div>a{
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}
.derechaAbout>div>a:hover{
    text-decoration: none;
    background-color: tomato;
    color: white;
}
    