


<div class="col-md-12 divFiltro" >
    <div class="col-md-3 divSelFiltro">
        <div class="form-group">
            <label for="">Usuario:</label>
            <input class="form-control" list="browsers" name="browser" id="browser">
            <datalist id="browsers">
                <option value="Edge">
                <option value="Chrome">
            </datalist>
        </div>
    </div>
    <!---->
    <div class="col-md-2 divSelFiltro">
        <div class="form-group">
            <label for="">Estado:</label>
            <select class="form-control" [(ngModel)]="mntUsuario.estado">
                <option>::Seleccione::</option>
            </select>
        </div>
    </div>
    <!---->
    <div class="col-md-2 divButton">
        <div class="divCenter">
            <button class="btn btn-light btnMargin">Consultar</button>
            <button class="btn btn-primary btnMargin" (click)="openModal(template)">Registrar</button>
        </div>
    </div>
</div>

<!---->
<div class="col-md-12 cuerpoTable">
    <div class="card">
      <div class="card-body p-0">
        <table class="table table-striped" >
          <thead class="tableStyle">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Apellidos</th>
              <th class="text-center">Usuario</th>
              <th class="text-center">Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of objUsuario">
              <th class="text-center">{{item.idusuario}}</th>
              <th class="text-center">{{item.nombre}}</th>
              <th class="text-center">{{item.apePaterno}} {{item.apeMaterno}}</th>
              <th class="text-center">{{item.usuario}}</th>
              <th class="text-center">{{item.estado}}</th>
              <th class="text-center">
                <button class="btn btn-warning btn-xs btnMargin" title="Actualizar" (click)="openActualizar(template,item)"><i class="fas fa-pen-alt"></i></button>
                <button class="btn btn-info btn-xs btnMargin" title="Actualizar password" (click)="openActualizarPassword(password,item)"><i class="fas fa-key"></i></button>
                <button *ngIf="item.estado===1" title="Eliminar" class="btn btn-danger btn-xs btnMargin" (click)="openModalEl(eliminar,item)"><i class="fas fa-trash-alt"></i></button>
                <button *ngIf="item.estado===2" class="btn btn-info btn-xs btnMargin" title="Activar" (click)="openModalEl(activar,item)"><i class="fas fa-check-square"></i></button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{nombreAccion}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeRegisterUser()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="mntUsuario.nombre" placeholder="Ingresar Nombre">
            </div>
            <div class="form-group">
                <label for="">Apellido Paterno:</label>
                <input type="text" class="form-control" [(ngModel)]="mntUsuario.apePaterno" placeholder="Ingresar Apellido Paterno">
            </div>
            <div class="form-group">
                <label for="">Apellido Materno:</label>
                <input type="text" class="form-control" [(ngModel)]="mntUsuario.apeMaterno" placeholder="Ingresar Apellido Materno">
            </div>
            <div class="form-group">
                <label for="">Usuario:</label>
                <input type="text" class="form-control" [(ngModel)]="mntUsuario.usuario" placeholder="Ingresar Usuario">
            </div>
            <div *ngIf="botonAccion" class="form-group">
                <label for="">Password:</label>
                <input type="password" class="form-control" [(ngModel)]="mntUsuario.password" placeholder="Ingresar Password">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="botonAccion" class="btn btn-success btnMargin" (click)="registrarUsuario()"><i class="fas fa-save"></i> Guardar</button>
        <button *ngIf="!botonAccion" class="btn btn-success btnMargin" (click)="updateUsuario()"><i class="fas fa-save"></i> Actualizar</button>      
        <button class="btn btn-light btnMargin" (click)="closeRegisterUser()"><i class="fas fa-times"></i> Salir</button>
    </div>
  </ng-template>



  <ng-template #password>
    <div class="modal-header">
      <h4 class="modal-title pull-left">:: Actualizar Contraseña ::</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">Contraseña Anterior:</label>
                <input type="password" class="form-control" [(ngModel)]="mntUsuario.contrasena" placeholder="Ingresar Contraseña anterior">
            </div>
            <div class="form-group">
                <label for="">Nueva Contraseña:</label>
                <input type="password" class="form-control" [(ngModel)]="mntUsuario.passwordNew" placeholder="Ingresar Nueva Contraseña">
            </div>
            <div class="form-group">
                <label for="">Confirmar contraseña:</label>
                <input type="password" class="form-control" [(ngModel)]="mntUsuario.passwordConfirmar" placeholder="Ingresar Confirmar Contraseña">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btnMargin" (click)="updateContra()"><i class="fas fa-save"></i> Guardar</button>
        <button class="btn btn-light btnMargin" (click)="closeRegisterUser()"><i class="fas fa-times"></i> Salir</button>
    </div>
  </ng-template>

  <ng-template #eliminar>
    <div class="modal-header">
      <h4 class="modal-title pull-left">:: Eliminar ::</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeRegisterUser()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>¿Esta seguro de Eliminar el siguiente dato: <b>{{nombreDato}}</b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btnMargin" (click)="eliminarUsuario()"><i class="fas fa-trash-alt"></i> Aceptar</button>
        <button class="btn btn-light btnMargin" (click)="closeRegisterUser()"><i class="fas fa-times"></i> Salir</button>
    </div>
  </ng-template>
  
  <ng-template #activar>
    <div class="modal-header">
      <h4 class="modal-title pull-left">:: Activar ::</h4>
      <button type="button" class="close pull-right" aria-label="closeRegisterUser" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>¿Esta seguro de activar el siguiente dato: <b>{{nombreDato}}</b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btnMargin" (click)="activarUsuario()"><i class="fas fa-trash-alt"></i> Aceptar</button>
        <button class="btn btn-light btnMargin" (click)="closeRegisterUser()"><i class="fas fa-times"></i> Salir</button>
    </div>
  </ng-template>
