<div class="contenedor">
    <div class="login">
        <section class="accesoLogin">
            <div>
                <p>INICIA SESIÓN :)</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="text" class="form-control" placeholder="Ingresar Usuario">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" placeholder="Ingresar Password">
                </div>
                <button class="btnIngresar" (click)="ingresar()">Ingresar</button>
            </div>
        </section>
        <section class="presentacion">
            <div>
                <h1>BIENVENIDO</h1>
                <p>Inicia sesión para continuar con el acceso</p>
            </div>
            <span>www.JhordyCode.com</span>
        </section>
    </div>
</div>