<!--<nav class="navbar">
    <h1>Jhordy Steven</h1>
    <ngx-fa name="fab fa-bars" size="lg" class="menu"></ngx-fa>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Skills</li>
        <li>Work</li>
        <li>Contact</li>
    </ul>
</nav>
<div class="cuerpo">
    <section class="izquierda">
        <p>Hi, <br>I'am <span style="color: #2874A6;">Jhordy</span><br> Web Designer</p>
        <button class="btn btn-primary"><ngx-fa name="fab fa-id-badge" size="lg"></ngx-fa> Contacto</button>
        <ul>
            <li style="background: #1C2833;color: white;"><ngx-fa name="fab fa-github" size="lg"></ngx-fa></li>
            <li style="background: #005DAF;color: white;"><ngx-fa name="fab fa-linkedin" size="lg"></ngx-fa></li>
            <li style="background: #8a2387; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;color: white;"><ngx-fa name="fab fa-instagram" size="lg"></ngx-fa></li>
            <li style="background: #3b5998;color: white;"><ngx-fa name="fab fa-facebook-square" size="lg"></ngx-fa></li>
        </ul>
    </section>
    <section class="derecha">
        <img src="../../../assets/marketing-gif-2-1.gif">
    </section>
</div>

<div class="about">
    <h1><u>About</u></h1>
    <section class="izquierda_about">
        <img src="../../../assets/0001201712534.jpg">
    </section>
    <section class="derecha_about">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, ipsa dolorem. Laboriosam reprehenderit perspiciatis, culpa voluptas fugiat magni doloremque, doloribus ea excepturi officia sint at dolor. Deleniti quibusdam neque voluptates!</p>
    </section>
</div>

<div class="social">
    <ul>
        <li><a href="http://www.facebook.com/falconmasters" target="_blank" class="icon-github"><ngx-fa name="fab fa-github" size="lg"></ngx-fa></a></li>
        <li><a href="http://www.twitter.com/falconmasters" target="_blank" class="icon-linkedin"><ngx-fa name="fab fa-linkedin" size="lg"></ngx-fa></a></li>
        <li><a href="http://www.googleplus.com/falconmasters" target="_blank" class="icon-instagram"><ngx-fa name="fab fa-instagram" size="lg"></ngx-fa></a></li>
        <li><a href="mailto:contacto@falconmasters.com" target="_blank" class="icon-facebook"><ngx-fa name="fab fa-facebook-square" size="lg"></ngx-fa></a></li>
    </ul>
</div>
-->
<nav class="navbar">
    <h1>Jsteven <i class="far fa-keyboard"></i></h1>
    <ngx-fa name="fab fa-bars" size="lg" class="menu"></ngx-fa>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Skills</li>
            <li>Work</li>
            <li>Contact</li>
        </ul>
</nav>
