<div class="col-md-12 divFiltro" >
    <div class="col-md-2 divSelFiltro">
        <div class="form-group">
            <label for="">Estado:</label>
            <select class="form-control" [(ngModel)]="objPrincipal.estado">
              <option [value]="0">::Seleccione::</option>
              <option *ngFor="let x of objEstado" [value]="x.maestroItem">{{x.nombreMaestro}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-4 divButton">
        <div class="divCenter">
            <button *ngIf="verBotonPreview==false" class="btn btn-dark btnMargin" (click)="openPreview()" title="ver preview"><i class="fas fa-eye"></i></button>
            <button *ngIf="verBotonPreview==true" class="btn btn-dark btnMargin" (click)="closePreview()" title="cerrar preview"><i class="fas fa-eye-slash"></i></button>
            <button [disabled]="verBotonPreview==true" class="btn btn-light btnMargin" (click)="listarPrincipal()">Consultar</button>
            <button [disabled]="verBotonPreview==true" class="btn btn-primary btnMargin" (click)="openModal(about)">Registrar</button>
        </div>  
    </div>
</div>

<div class="col-md-12 cuerpoTable" *ngIf="verTabla">
        <table class="table table-striped" >
          <thead class="tableStyle">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Titulo</th>
              <th class="text-center">Descripción</th>
              <th class="text-center">foto</th>
              <th class="text-center">estado</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of arrayPrincipal| paginate: { 
              itemsPerPage: 5,
              currentPage: p }">
              <th class="text-center">{{x.idprincipal}}</th>
              <th class="text-center">{{x.nombre}}</th>
              <th class="text-center">{{x.descripcion}}</th>
              <th class="text-center">
                <img src="{{x.foto}}" style="width: 50px;
                height: 50px;
                border: 2px solid #141E30;
                margin: 0 auto;">
              </th>
              <th class="text-center">{{x.estado==1?'Activo':'Eliminado'}}</th>
              <th class="text-center">
                <button *ngIf="x.estado==1" class="btn btn-warning btn-xs btnMargin" title="Actualizar" (click)="actualizarPrincipal(x,about)"><i class="fas fa-pen-alt"></i></button>
                <button *ngIf="x.estado==1" class="btn btn-primary btn-xs btnMargin" title="registrar Redes" (click)="RegistrarRed(x,red)"><i class="fas fa-plus-square"></i></button>
                <button *ngIf="x.estado==1" class="btn btn-success btn-xs btnMargin" title="Detalles Redes" (click)="DetallesRedes(x,listarRed)"><i class="fas fa-ellipsis-h"></i></button>
                <button *ngIf="x.estado==1" title="Eliminar" class="btn btn-danger btn-xs btnMargin" (click)="openModalEliminacion(x,eliminar)"><i class="fas fa-trash-alt"></i></button>
                <button *ngIf="x.estado==2" class="btn btn-info btn-xs btnMargin" title="Activar" (click)="openModalActivar(x,activar)"><i class="fas fa-check-square"></i></button>
              </th>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
  
<div class="col-md-12 preview" *ngIf="verPreview">  
  <app-principal></app-principal>
</div>

<ng-template #about>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{titleModal}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="col-md-12">
          <div class="form-group">
            <label for="">Nombre:</label>
            <input type="text" class="form-control" placeholder="Ingresar Nombre" [(ngModel)]="objPrincipal.nombre">
          </div>
          <div class="form-group">
              <label for="">Descripción:</label>
              <textarea class="form-control" [(ngModel)]="objPrincipal.descripcion" placeholder="Ingresar Descripción" aria-label="With textarea"></textarea>
          </div>
          <div class="card-body nullPadding">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>¡Arrastrar imagen!</ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button *ngIf="verBotonRegistrar==true" class="btn btn-success btnMargin" (click)="registrarPrincipal()"><i class="fas fa-save"></i> Guardar</button>
      <button *ngIf="verBotonActualizar==true" class="btn btn-success btnMargin" (click)="updatePrincipales()"><i class="fas fa-save"></i> Actualizar</button>
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>
</ng-template>

<ng-template #red>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{titleModal}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="col-md-12">
          <div class="form-group">
            <label for="">titulo:</label>
            <input type="text" class="form-control" placeholder="Ingresar Titulo" [(ngModel)]="objRedes.titulo">
          </div>
          <div class="form-group">
            <label for="">clases:</label>
            <input type="text" class="form-control" placeholder="Ingresar Clases" [(ngModel)]="objRedes.clases">
          </div>
           <div class="form-group">
            <label for="">ruta:</label>
            <input type="text" class="form-control" placeholder="Ingresar Ruta" [(ngModel)]="objRedes.ruta">
          </div>
           <div class="form-group">
            <label for="">style:</label>
            <input type="text" class="form-control" placeholder="Ingresar Style" [(ngModel)]="objRedes.style">
          </div>
          <div class="form-group">
            <label for="">principal:</label>
            <select class="form-control" [(ngModel)]="objRedes.idprincipal" disabled>
              <option [value]="0">::Seleccione::</option>
              <option *ngFor="let x of arrayPrincipal" [value]="x.idprincipal">{{x.nombre}}</option>
            </select>
        </div>
      </div>
  </div>
  <div class="modal-footer">
      <button *ngIf="verBotonRegRedes==true" class="btn btn-success btnMargin" (click)="RegistrarRedes()"><i class="fas fa-save"></i> Guardar</button>
      <button *ngIf="verBotonActualizarRedes==true" class="btn btn-success btnMargin" (click)="updatePrincipales()"><i class="fas fa-save"></i> Actualizar</button>
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>
</ng-template>

<ng-template #listarRed>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{titleModal}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
        <table class="table table-striped" >
          <thead class="tableStyle">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Titulo</th>
              <th class="text-center">Clases</th>
              <th class="text-center">Ruta</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of arrayRedes| paginate: { 
              itemsPerPage: 5,
              currentPage: p }">
              <th class="text-center">{{x.idredes}}</th>
              <th class="text-center">{{x.titulo}}</th>
              <th class="text-center">{{x.clases}}</th>
              <th class="text-center">{{x.ruta}}</th>
              <th class="text-center">
                <button *ngIf="x.estado==1" title="Eliminar" class="btn btn-danger btn-xs btnMargin" (click)="eliminarRedes(x.idredes)"><i class="fas fa-trash-alt"></i></button>
                <button *ngIf="x.estado==2" class="btn btn-info btn-xs btnMargin" title="Activar" (click)="activarRedes(x.idredes)"><i class="fas fa-check-square"></i></button>
              </th>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="modal-footer">
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>
</ng-template>

<ng-template #eliminar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">:: Eliminar ::</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p>¿Esta seguro de Eliminar el siguiente dato: <b>{{nombreDato}}</b>?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary btnMargin" (click)="eliminarPrincipal()"><i class="fas fa-trash-alt"></i> Aceptar</button>
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>
</ng-template>

<ng-template #activar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">:: Activar ::</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p>¿Esta seguro de activar el siguiente dato: <b>{{nombreDato}}</b>?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary btnMargin" (click)="activarPrincipal()"><i class="fas fa-trash-alt"></i> Aceptar</button>
      <button class="btn btn-light btnMargin" (click)="closeModal()"><i class="fas fa-times"></i> Salir</button>
  </div>

</ng-template>