<div class="skill">
    <section><h1><u>Skills</u></h1></section>
    <div class="encabezado">
        <p>Profesional con solidos conocimientos de Programación, 
          con ganas de seguir aprendiendo y mejorando mis habilidades.👨‍💻
        </p>
    </div>
    <div>
        <section class="skillimg">
            <img src="../../../assets/00l8p1iqqfNP3HRG3TtTgXl-1.1587974089.fit_lim.fit_lim.size_956x-removebg-preview.png">
        </section>
        <section class="skills">
            <div class="cuerpo">
                <div *ngFor="let t of objTipoSkill">
                    <section class="tecnologias"  [ngStyle]="{'background': t.desMaestro}">
                      <section >
                            <p>{{t.nombreMaestro}}</p>
                      </section>
                    </section>
                    <div class="cuerpoList">
                      <div class="seccionList">
                            <ul *ngFor="let x of objSkill">
                                <li class="card" *ngIf="x.idTipoSkill==t.maestroItem && x.estado==1"><i [ngClass]="x.imgSkill" [ngStyle]="{'color':x.colorImg}"></i> {{x.nombre}}</li>
                            </ul>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </div>